<!DOCTYPE html>
{% load static %}
<html lang="kr">
    <head>
        <meta charset="UTF-8">
        <title>home</title>
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
    </head>
    <body>
        <!-- <h1>Hello!</h1>
        <a href="/"><button>home</button></a>

        {% if login_session %}
        <a href="{% url 'user:logout' %}"><button>log out</button></a>
        {% else %}
        <a href="{% url 'user:login' %}"><button>log in</button></a>
        <a href="{% url 'user:register' %}"><button>sign up</button></a>
        {% endif %} -->
        <div class="section" >
            <div class="re-mail"><a href="/">Re-mail</a></div>
            {% block contents %}
            {% if messages %}
                {% for message in messages %}
                    <script type="text/javascript">
                        alert("{{ message.message }}")
                    </script>
                {% endfor %}
            {% endif %}
            {% endblock contents %}
        </div>
    </body>
</html>