<!DOCTYPE html>
{% load static %}
{%if alret %}
<script type="text/javascript">
	alert("{{alret}}");
</script>
{%endif%}

<html>
    <head>
        <title>Re-mail</title>
        <link rel="stylesheet" href="{% static 'css/mailbox.css' %}" media="screen">
        
    </head>
    <body>
        <header>
            <div id = "logo" style="float: left;">
                <h1><a href="http://127.0.0.1:8000/remailbox">Re-mail</a></h1>
            </div>
            <div style="float: right;" id="header-profile" >

                <img src="{% static 'images/free-icon-profile-6522516.png' %}" style="width: 50px;"><a href="http://127.0.0.1:8000/mypage" style="margin: 0px 15px 0px 10px; text-decoration: none;">{{ request.user.username }}</a>
                <div class='button'><a href="{% url 'user:logout' %}">logout</a></div>
            </div>
            <div id="nav">
                <nav>
                    <ul>
                        <li><a href="#">{{ request.user.username }}@re-mail.link</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <div id = "main">
            <div style="float: left;">
                <ul>
                    <li id="menu-profile"><img src = "{% static 'images/free-icon-profile-6522516.png' %}" style="width: 70px;"><span style=" margin-left:5px">{{ request.user.username }}</span></li>
                    <li><a class="write-mail" href="http://127.0.0.1:8000/remailbox/mail_write">메일쓰기</a></li>
                    <hr>
                    <li><a href="#" style="background-color: rgb(100, 175, 138);">받은 메일</a></li>
                    <li><a href="send">보낸 메일</a></li>
                    <li><a href="tag">사용자 지정 태그</a></li>
                </ul>
            </div>
            
            <form action="{% url 'mailbox' %}" method="POST">
                {% csrf_token %}
                <div class="cd1" style="margin-top: 80px; float: left;">
                    <div style="margin-top: 20px;">
                        {% for mail in maillist%}
                            <h6><input  style="border:none;font-size:16px;" type="submit" value="{{mail.sender}}    {{mail.title}}    {{mail.time}}" name="selected" /><h6><hr>

                            {% comment %} <a href="http://127.0.0.1:8000/remailbox/mail_read/">
                                <h6 id="read-info">{{mail.sender}}&emsp;&emsp; {{mail.title}}&emsp;&emsp; {{mail.time}}</h6>
                            </a><hr> {% endcomment %}
                        {% endfor %}

                        {% comment %} <a href="http://127.0.0.1:8000/remailbox/mail_read/"> <h6 id="read-info">보낸사람     제목</h6></a><hr>
                        <h6 id="read-info">보낸사람     제목</h6><hr>
                        <h6 id="read-info">보낸사람     제목</h6><hr> {% endcomment %}
                    </div>
                </div>
            </form>

            <div style="clear:both;"></div>
            
                
        </div>
    </body>
</html>