<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Re-mail</title>
        <link rel="stylesheet" href="{% static 'css/mailbox.css' %}" media="screen">
        
    </head>
    <body>
        <header>
            <div id = "logo" style="float: left;">
                <h1><a href="http://127.0.0.1:8000/remailbox/">Re-mail</a></h1>
            </div>
            <div style="float: right;" id="header-profile" >
                <img src="{% static 'images/free-icon-profile-6522516.png' %}" style="width: 50px;"><a href="http://127.0.0.1:8000/mypage" style="margin: 0px 15px 0px 10px; text-decoration: none;">{{ request.user.username }}</a>
                <div class='button'><a href="{% url 'user:logout' %}">logout</a></div>
            </div>
            <div id="nav">
                <nav>
                    <ul>
                        <li><a href="#">{{ request.user.username }}@re-mail.link</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <div id = "main">
            
            <div style="float: left;">
                <ul>
                    <li id="menu-profile"><img src="{% static 'images/free-icon-profile-6522516.png' %}" style="width: 70px;"><span style=" margin-left:5px">{{ request.user.username }}</span></li>
                    <li><a class="write-mail" href="http://127.0.0.1:8000/remailbox/mail_write/" style="background-color: rgb(100, 175, 138);">메일쓰기</a></li>
                    <hr>
                    <li><a href="http://127.0.0.1:8000/remailbox/">받은 메일</a></li>
                    <li><a href="#">보낸 메일</a></li>
                    <li><a href="#">사용자 지정 태그</a></li>
                </ul>
            </div>
            
            <div class="cd1" style="margin-top: 90px; float: left;">
                {% comment %} {% for user in user_content %}
                    <br>
                    
                    <p>유저이름 : {{ user.username }}</p>
                    <p>이메일 : {{ user.email }}</p>

                    <br>
                {% endfor %} {% endcomment %}

                <h6>보낸사람 <input type = "text" name = "sender" style='border: solid gray; width:400px' /></h6>
        		<h6>받을사람 <input type = "text" name = "receiver" style='border: solid gray; width:400px; ' value="{{sender}}" /></h6>
                <h6>참조 <input type = "text" name = "chamjo" style='border: solid gray; width:400px; ' /></h6>
        		<h6>제목 <input type = "text" name = "title" style='border: solid gray; width:400px; margin-bottom:30px' value="{{title}}" /></h6>
            </div>
            <div style="clear:both;"></div>
            <div style="margin-left: 290px;">
                <h2>내용 입력</h2>
                <input type = "text" name = "id" style='border: solid gray; width: 90%; height : 300px; border-radius: 10px;' value="{{mailcontent}}"/>
            </div>
                
        </div>
    </body>
</html>