<!DOCTYPE html>
{% load static %}
{%if alret %}
<script type="text/javascript">
	alert("{{alret}}");
</script>
{%endif%}

<html>
    <head>
        <title>Re-mail</title>
        <link rel="stylesheet" href="{% static 'css/mailbox.css' %}" media="screen">
        <script type="text/javascript">
            function blockf(){
                alert("사용자가 차단되었습니다.");
            }

            function deletf(){
                alert("메일이 삭제되었습니다.");
            }
        </script>
    </head>
    <body>
        <header>
            <div id = "logo" style="float: left;">
                <h1><a href="http://127.0.0.1:8000/remailbox/">Re-mail</a></h1>
            </div>
            <div style="float: right;" id="header-profile" >
                <img src="{% static 'images/free-icon-profile-6522516.png' %}" style="width: 50px;"><a href="http://127.0.0.1:8000/mypage" style="margin: 0px 15px 0px 10px; text-decoration: none;">{{ request.user.username }}</a>
            </div>
            <div id="nav">
                <nav>
                    <ul>
                        <li><a href="#">{{ request.user.username }}@re-mail.link</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        {% comment %} {%if messages %}
        <script type="text/javascript">
            alert("{{messages}}");
        </script>
        {%endif%} {% endcomment %}

        <div id = "main">
            <div style="float: left;">
                <ul>
                    <li id="menu-profile"><img src="{% static 'images/free-icon-profile-6522516.png' %}" style="width: 70px;"><span style=" margin-left:5px">{{ request.user.username }}</span></li>
                    <li><a class="write-mail" href="http://127.0.0.1:8000/remailbox/mail_write/">메일쓰기</a></li>
                    <hr>
                    <li><a href="http://127.0.0.1:8000/remailbox/" style="background-color: rgb(100, 175, 138);">받은 메일</a></li>
                    <li><a href="#">보낸 메일</a></li>
                    <li><a href="#">사용자 지정 태그</a></li>
                </ul>
            </div>
            
            <form action="{% url 'mail_read' %}" method="POST">
                {% csrf_token %}
                <div class="cd1" style="margin-top: 80px; float: left;">
                    <div id="read-buttons">
                        <input id="readfunc" type="submit" value="답장" name="readfunc" />
                        <input id="readfunc" type="submit" value="전달" name="readfunc" />
                        <input id="readfunc" type="submit" value="차단" name="readfunc"  onclick='blockf()'/>
                        <input id="readfunc" type="submit" value="삭제" name="readfunc" onclick='deletf()'/>
                    </div>
                    
                    <div style="margin-top: 20px;">
                        <h6 id="read-info">보낸사람 <span>보낸보낸</span></h6>
                        <h6 id="read-info">받은사람 <span>받은받은</span></h6>
                        <h6 id="read-info">제목 <span style="margin-left: 40px">{{title}}</span></h6>
                    </div>
                </div>
            </form>

            <div style="clear:both;"></div>
            <div style="margin-left: 290px;">
                <h2>메일 내용</h2>
                
            </div>
                
        </div>
    </body>
</html>