@import url('https://webfontworld.github.io/kopus/KoPubWorldDotum.css');
@import url('https://fonts.googleapis.com/css2?family=Moul&display=swap');

body {
    font-family: 'KoPubWorldDotum';
}

a {
    text-decoration-line:none;
    text-align:left;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    /* width: 100% */
    left: 0;
    right: 0;
    display: inline-block;   
    height: 80px;
    background-color: white;
}

body {
    padding: 0px;
    margin: 0px;
}

#logo {
    display: inline-block;
    height: 80px;
    margin: 0px;
    padding: 0px
}

#logo h1{
    padding: 0px;
    margin: 0px;
}

#logo h1 a{
    margin-left:20px;
    font-family: Moul;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    color: #19722D;
}
#header-profile {
    height: 100px;
    display : flex;
    margin-left:10px;
    font-family: Moul;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    color: black;
    align-items : center;

}

#header-profile > a{
    color: black;
}

nav 
{   
    padding: 0px;
    margin-left: 0px;
    height:100%;
    width:261px;
    float: left;
    background: #E8E8E8;
    overflow: auto;
    position: fixed;
}

section{
    margin-top: 90px; 
    height:100%;
    margin-left : 15%;
    background: white;
    align-items : center;
    text-align:center;
}

nav ul li {
    list-style: none;
    margin:0px;
    border:10px;
}

#logo > a {
    color: #19722D;
    text-align: left;
    font-family: 'Black Han Sans', sans-serif;
    font-size: 50px;
    font-style: normal;
    line-height: normal;
}

#table a {
    text-decoration: none;
    padding: 10px;
    display: block;
    color: black;
    font-size: 16px;
    font-style: normal;
    font-weight: 550;
    line-height: normal;
}

#table a:hover {
    background: rgba(130, 174, 140, 0.40);
    color: #000;
}

/*section*/


#poll{
    display:inline-block;
    align-items: center;
    text-align:center;
    padding-left:50px;
}
#poll > table{
    align-items: center;
    text-align:left;
}
#poll > p{
    font-size: 20px;
    font-weight: normal;
}
#pol{
    align-items: center;
    text-align:left;
    margin-bottom: 10%;
}
#user {
    display:inline-block;
    align-items: center;
    /*position: relative;*/
    padding-left:50px;
}

#user > img {
    border:10px;
    padding:20px;
    width: 184px;
    height: 211px;
    flex-shrink: 0;
    border-radius: 100px;
    background: 50% / cover no-repeat;
}

#user > div {
    margin:10px;
    border:10px;
    display:inline-block;
    /*
    position: absolute; top: 50%;
    transform: translate(0,-50%);
   */
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    font-style: normal;
    line-height: normal;
}

#info > span {
    color: #777575;
    text-align: center;
    font-family:  'Noto Sans KR', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

hr {
    margin:20px;
    margin-left:50px;
    margin-right:50px;
    border:10px;
    border: 1px solid #4a4a4a;
}