{% extends 'mypage/mypage.html' %}
{% block mypage_section %}
<!-- Nav -->
<nav style="float: left;">
   <ul id="table">
      <li><a href="http://127.0.0.1:8000/mypage">계정 관리</a></li>
      <li><a href="http://127.0.0.1:8000/mypage/new_address" style="background-color: rgb(100, 175, 138);">remail 생성</a></li>
      <li><a href="http://127.0.0.1:8000/mypage/polls">설문조사</a></li>
   </ul>
</nav>
<!-- Section -->
<section>
   <div id="newadd">
      <h2>Re-mail 주소 생성</h2>
      <h3>example123@re-mail.link 형식으로 입력하세요<h3>
      {% if message == "already_exists" %}
         <strong>Fail!</strong> 해당 번호의 Re-mail 주소가 이미 존재합니다. <br> 다른 번호의 Re-mail 주소를 생성하세요.
        {% endif %}
      {% if message == "overlap_address" %}
         <strong>Fail!</strong> 사용할 수 없는 Re-mail 주소입니다.
        {% endif %}
      {% if message == "invalid" %}
         <strong>Fail!</strong> 입력한 형식이 적절하지 않습니다.
        {% endif %}
      
      <br><br>
      <form method="POST" action="{% url 'new_address' %}">
         {% csrf_token %}
         <input type="hidden" name="number" id="number" value="1">
         <label>Re-mail 주소 1 : </label>
         <input type="text" name="input_remail" id="input_remail" placeholder="example@re-mail.link">
         <button id="random" type="button">랜덤 생성</button>
         <br>
         <label for="category">카테고리 : </label>
         <input type="text" name="input_category" id="input_category">
         <button type="submit">메일 주소 생성</button>
      </form>
      <br>
      <form method="POST" action="{% url 'new_address' %}">
         {% csrf_token %}
         <input type="hidden" name="number" id="number" value="2">
         <label>Re-mail 주소 2 : </label>
         <input type="text" name="input_remail" id="input_remail" placeholder="example@re-mail.link">
         <button id="random" type="button">랜덤 생성</button>
         <br>
         <label for="category">카테고리 : </label>
         <input type="text" name="input_category" id="input_category">
         <button type="submit">메일 주소 생성</button>
      </form>
      <br>
      <form method="POST" action="{% url 'new_address' %}">
         {% csrf_token %}
         <input type="hidden" name="number" id="number" value="3">
         <label>Re-mail 주소 3 : </label>
         <input type="text" name="input_remail" id="input_remail" placeholder="example@re-mail.link">
         <button id="random" type="button">랜덤 생성</button>
         <br>
         <label for="category">카테고리 : </label>
         <input type="text" name="input_category" id="input_category">
         <button type="submit">메일 주소 생성</button>
      </form>
      <br>
      <form method="POST" action="{% url 'new_address' %}">
         {% csrf_token %}
         <input type="hidden" name="number" id="number" value="4">
         <label>Re-mail 주소 4 : </label>
         <input type="text" name="input_remail" id="input_remail" placeholder="example@re-mail.link">
         <button id="random" type="button">랜덤 생성</button>
         <br>
         <label for="category">카테고리 : </label>
         <input type="text" name="input_category" id="input_category">
         <button type="submit">메일 주소 생성</button>
      </form>
      <br>
      <form method="POST" action="{% url 'new_address' %}">
         {% csrf_token %}
         <input type="hidden" name="number" id="number"  value="5">
         <label>Re-mail 주소 5 : </label>
         <input type="text" name="input_remail" id="input_remail" placeholder="example@re-mail.link">
         <button id="random" type="button">랜덤 생성</button>
         <br>
         <label for="category">카테고리 : </label>
         <input type="text" name="input_category" id="input_category">
         <button type="submit">메일 주소 생성</button>
      </form>
      {% comment %} <button id="add" type="submit" onClick="location.href='new_address'">메일 주소 생성</button> {% endcomment %}
   </div>
</section>
{% endblock mypage_section %}