{% extends 'mypage/mypage.html' %}
      
{% block mypage_section %}
<!-- Section -->
<section>
   <div id="user">
      <img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMjEyMTJfMjky%2FMDAxNjcwODQ4MzYyNTYy.QeYlBp0TP6KOWha_zEZnLqY-wQ6jEwZ0jEEVbdbZUP8g.jdK9_uUcbOqKVsSJl6GpN2POuSe-ZFVKiGtpSXIelEEg.JPEG.windysky70%2FIMG_8178.JPG&type=sc960_832" 
         alt="user image">
      <div id="info">
         <h2>{{ request.user.username }}</h2>
         <br>
         <span>{{ request.user.email}}</span>
      </div>
      
   </div>
   <hr>
   <div id="poll">
      <h3><a href="http://127.0.0.1:8000/mypage/polls">설문조사 페이지</a></h3>
      <table>
         {% for q in question %}
         <tr>
            <td>{{q.id}}</td>
            <td><a href="http://127.0.0.1:8000/mypage/polls/{{q.id}}">{{q.question_text}}</a></td>
         </tr>
         {% endfor %}
      </table>
   {% if message == "complete" %}
      <strong>설문에 응해주셔서 감사합니다!</strong> 
   {% endif %}
   </div>
</section>
{% endblock mypage_section %}